[Unit]
Description=bricabrac service

[Service]
User=root
Group=root
WorkingDirectory=/
EnvironmentFile=/bricabrac.env
ExecStart=/usr/local/bin/gunicorn -b 0.0.0.0:80 bricabrac.wsgi:application
