[Unit]
Description=bricabrac service

[Service]
User=root
Group=root
WorkingDirectory=/
EnvironmentFile=/bricabrac.env
ExecStart=/usr/local/bin/gunicorn bricabrac.wsgi:application --config /gunicorn.conf.py
